body{
    background: url(1160471.jpg);
    background-position: center;
    background-size: cover;
}
.main-body {
	display: grid;
	grid-template-columns: minmax(300px, auto)1fr;
	grid-template-areas: "navbar mainContent";
	grid-gap: 10px;
}

#navbar {
	grid-area: navbar;
	position: fixed;
    color: #ae0909;
}

#navbar a {
	display: block;
	border: 1px solid black;
    border-radius: 5px;
	padding: 5px;
	margin: 10px 0;
	text-decoration: none;
    color: white;
    background-color: #ae0909;
}

#navbar a:hover{
    background-color: white;
    color: #ae0909;
}

#navbar a:active{
    background-color: #089f14;
    color: #ae0909;
}

#main-doc {
	grid-area: mainContent;
    color: #ae0909;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
}