/* @font-face {
    font-family: Inconsolata;
    src: url(Inconsolata-VariableFont_wdth\,wght.ttf);
    box-sizing: border-box;
} */
body{
    background-color: #d4f0e6;
    font-family: "yu gothic";
}
header{
    margin: 0;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header .nav{
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    color: #000000;
}
header button{
    text-decoration: none;
    margin: 0 10px;
    margin-right: 70px;
    text-align: right;
    border: 2px solid #1b1ff5;
    border-radius: 4px;
    background: transparent;
    color: #1b1ff5;
    padding: 7px;
}
header button:hover{
    background: #1b1ff5;
    color: #d4f0e6;
}
main{
    margin-top: 30px;
    text-align: center;
    transform: translate(0%, 0%);
}
main #p1{
    text-transform: uppercase;
    font-weight: bold;
}
main h1{
    font-weight: bolder;
}
main input{
    height: 40px; 
    width: 200px;
}
main button{
    height: 46px; 
    width: 170px;
    background: #eb682c;
    color: #fff;
    border: 0px;
    border-radius: 2px;
}
main #p3{
    color: #808080;
}
.footer{
    display: flex;
}
.footer div{
    flex: 1;
}
.one{
    float: left;
    padding: 10px;
}
.one h2{
    font-weight: 600;
}
.one p{
    color: gray;
}
.two{
    float: left;
    padding: 10px;
}
.two h2{
    font-weight: 600;
}
.two p{
    color: gray;
}
.three{
    float: left;
    padding: 10px;
}
.three h2{
    font-weight: 600;
}
.three p{
    color: gray;
}

@media (max-width: 760px){
    header a{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .main button{
        height: 40px; 
        width: 200px;
    }
}